<html>
  <head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  </head>
  <body>
	<h2>Sessions</h2>
	<ul>
    {% for session in sessions %}
        <li><a href="/session/{{ session.key.id }}">{{ session.date }}</a></li>
    {% endfor %}
	</ul>

    <form action="/service/newsession" method="post">
      <div><input type="submit" value="Create session"></div>
    </form>

  </body>
</html>
