<!doctype html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/session.css">
  </head>
  <body>
	<table id="stats">

		<!-- table header -->
		<thead>
		<tr>
			<td>user</td>
			{% for exercise in exercises %}
				<td>{{ exercise }} </td>
			{% endfor %}
		</tr>
		</thead>

		<!-- table rows -->
		{% for user in users %}
			<tr><td>{{ user.name }}</td>
			<!-- this got way too crazy since template engine can't 
			do indexer lookups on collections -->
			{% for exercise in exercises %}
				<!--note the use of iteritems to get key as well as value-->
				{% for key, val in user.exercises.iteritems %}
					{% if exercise == key %}	
						<td>{{ val }}</td>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</tr>
		{% endfor %}
	</table>

    <form action="/newset/{{sid}}" method="post">
      <select name="user">
		{% for user in users %}
        <option value="{{user.name}}">{{user.name}}</option>
		{% endfor %}
      </select>
      <select name="exercise">
		{% for exercise in exercises %}
        <option value="{{exercise}}">{{exercise}}</option>
		{% endfor %}
      </select>
      <select name="reps">
		{% for repnum in reprange %}
        <option value="{{repnum}}">{{repnum}}</option>
		{% endfor %}
      </select>
      <input type="submit" value="Add set">
    </form>

    <form action="/adduser" method="post">
      <input type="hidden" name="sid" value="{{sid}}">
      <input type="text" name="user">
      <input type="submit" value="Add user">
    </form>
    <form action="/closesession" method="post">
      <input type="hidden" name="sid" value="{{sid}}">
      <input type="submit" value="Close Session">
    </form>
  </body>
</html>
